<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>User Dashboard</title>
</head>
<body>
<div th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="UserDashboard">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="viewBookings">View Bookings</a></li>
            <li><a class="dropdown-item" href="searchParkingSlots">Book a Parking Slot</a></li>
            <li><a class="dropdown-item" href="addMoney">Add Money in Wallet</a></li>
            <li><a class="dropdown-item" href="viewUserInfo">View User Information</a></li>
            <li><a class="dropdown-item" href="modiflyUserBooking">Modify User Booking</a></li>
            <li><a class="dropdown-item" href="cancelBooking">Cancel Booking</a></li>
            <li><a class="dropdown-item" href="WaitList">Check Wait List"</a></li>
            <li><a class="dropdown-item" href="viewRequest">View Requests</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>

<div th:fragment="footer">
<!-- Footer -->
<div class="sticky">
<footer></footer>
</div>
</div>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>